<ion-card text-center class="orange-gradient top_orange_card">
  <ion-row>
    <ion-col col-2 class="pad-0">
      <div menuToggle style="margin-top:3px !important;padding-left: 10px">
        <img src="../assets/imgs/menu.png" style="width:25px">
      </div>
    </ion-col>
    <ion-col col-1 class="pad-0">
      <ion-row>
        <div style="margin-top:3px !important;">
          <img src="../assets/imgs/walk.png" style="width:25px">
        </div>
      </ion-row>
    </ion-col>
    <ion-col col-9 style="text-align:left">
      <ion-select interface="popover" style="width:100%;max-width:100%;color:#fff;font-size:16px">
        <ion-option>Walking</ion-option>
        <ion-option>Running</ion-option>
      </ion-select>
    </ion-col>

  </ion-row>
  <ion-grid class="pad-0">
    <ion-row>
      <ion-col col-12>
        <p class="text-36 white">
          00:00
        </p>
        <p class="text-16 white">Avg. Pace</p>
      </ion-col>
    </ion-row>
    <ion-row class="bdr-right">
      <ion-col col-4>
        <p class="text-24 white">
          0
        </p>
        <p class="text-14 white">Calories (Cal)</p>
      </ion-col>
      <ion-col col-4>
        <p class="text-24 white">
          00:00
        </p>
        <p class="text-14 white">Duration</p>
      </ion-col>
      <ion-col col-4>
        <p class="text-24 white">
          0.00
        </p>
        <p class="text-14 white">Distance</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-12>
        <div class="text-17 orange start_btn">
          START ACTIVITY
        </div>
      </ion-col>

    </ion-row>
  </ion-grid>
</ion-card>
