<ion-card class="card-round">
  <ion-row style="color:#464646;size:17px;font-family:roboto_font;padding-left:15px">
    <img src="../assets/imgs/health_run.png" style="width:35px;height:35px;">
    <span style="display: flex;align-items: center;justify-content: center;padding-left:10px">Running 5 km a week</span>
    <img src="../assets/imgs/health_popover.png" style="width:20px;height:20px;margin-left:auto;margin-top:7px;margin-right:10px"
      (click)="openPopover($event)">
  </ion-row>
  <ion-row style="margin-left:30px;margin-right:20px">
    <ion-col col-3>
      <img src="../assets/imgs/health_pink.png" style="width:20px;height:20px;margin:auto">
      <p style="text-align:center;font-family:roboto_font;font-size:12px;color:#8b8b8b">6/11</p>
    </ion-col>
    <ion-col col-3>
      <img src="../assets/imgs/health_pink.png" style="width:20px;height:20px;margin:auto">
      <p style="text-align:center;font-family:roboto_font;font-size:12px;color:#8b8b8b">13/11</p>
    </ion-col>
    <ion-col col-3>
      <img src="../assets/imgs/health_pink.png" style="width:20px;height:20px;margin:auto">
      <p style="text-align:center;font-family:roboto_font;font-size:12px;color:#8b8b8b">20/11</p>
    </ion-col>
    <ion-col col-3>
      <img src="../assets/imgs/health_pink.png" style="width:20px;height:20px;margin:auto">
      <p style="text-align:center;font-family:roboto_font;font-size:12px;color:#000">27/11</p>
    </ion-col>
  </ion-row>
  <div style="height:1px; width:100%;background-color:#999"></div>
  <ion-row style="color:#464646;size:17px;font-family:roboto_font;padding-left:15px">
    <img src="../assets/imgs/health_burn.png" style="width:35px;height:35px;">
    <span style="display: flex;align-items: center;justify-content: center;padding-left:10px">Burn 1200 calories a day</span>
    <img src="../assets/imgs/health_popover.png" style="width:20px;height:20px;margin-left:auto;margin-top:7px;margin-right:10px"
      (click)="openPopover($event)">
  </ion-row>
  <ion-row style="margin-left:50px;margin-right:20px">
    <span style="width:13%">
      <img src="../assets/imgs/health_pink.png" style="width:20px;height:20px;margin:auto">
      <p style="text-align:center;font-family:roboto_font;font-size:13px;color:#8b8b8b">M</p>
    </span>
    <span style="width:13%">
      <img src="../assets/imgs/health_pink.png" style="width:20px;height:20px;margin:auto">
      <p style="text-align:center;font-family:roboto_font;font-size:13px;color:#8b8b8b">T</p>
    </span>
    <span style="width:13%">
      <img src="../assets/imgs/health_pink.png" style="width:20px;height:20px;margin:auto">
      <p style="text-align:center;font-family:roboto_font;font-size:13px;color:#8b8b8b">W</p>
    </span>
    <span style="width:13%">
      <img src="../assets/imgs/health_pink.png" style="width:20px;height:20px;margin:auto">
      <p style="text-align:center;font-family:roboto_font;font-size:13px;color:#8b8b8b">T</p>
    </span>
    <span style="width:13%">
      <img src="../assets/imgs/health_pink.png" style="width:20px;height:20px;margin:auto">
      <p style="text-align:center;font-family:roboto_font;font-size:13px;color:#8b8b8b">F</p>
    </span>
    <span style="width:13%">
      <img src="../assets/imgs/health_pink.png" style="width:20px;height:20px;margin:auto">
      <p style="text-align:center;font-family:roboto_font;font-size:13px;color:#8b8b8b">S</p>
    </span>
    <span style="width:13%">
      <img src="../assets/imgs/health_pink.png" style="width:20px;height:20px;margin:auto">
      <p style="text-align:center;font-family:roboto_font;font-size:13px;color:#000">S</p>
    </span>
  </ion-row>
  <div style="height:1px; width:100%;background-color:#999"></div>
  <ion-row style="color:#464646;size:17px;font-family:roboto_font;padding-left:15px">
    <img src="../assets/imgs/health_walk.png" style="width:35px;height:35px;">
    <span style="display: flex;align-items: center;justify-content: center;padding-left:10px">Walking 45 mins a day</span>
    <img src="../assets/imgs/health_popover.png" style="width:20px;height:20px;margin-left:auto;margin-top:7px;margin-right:10px"
      (click)="openPopover($event)">
  </ion-row>
  <ion-row style="margin-left:50px;margin-right:20px">
    <span style="width:13%">
      <img src="../assets/imgs/health_pink.png" style="width:20px;height:20px;margin:auto">
      <p style="text-align:center;font-family:roboto_font;font-size:13px;color:#8b8b8b">M</p>
    </span>
    <span style="width:13%">
      <img src="../assets/imgs/health_pink.png" style="width:20px;height:20px;margin:auto">
      <p style="text-align:center;font-family:roboto_font;font-size:13px;color:#8b8b8b">T</p>
    </span>
    <span style="width:13%">
      <img src="../assets/imgs/health_pink.png" style="width:20px;height:20px;margin:auto">
      <p style="text-align:center;font-family:roboto_font;font-size:13px;color:#8b8b8b">W</p>
    </span>
    <span style="width:13%">
      <img src="../assets/imgs/health_pink.png" style="width:20px;height:20px;margin:auto">
      <p style="text-align:center;font-family:roboto_font;font-size:13px;color:#8b8b8b">T</p>
    </span>
    <span style="width:13%">
      <img src="../assets/imgs/health_pink.png" style="width:20px;height:20px;margin:auto">
      <p style="text-align:center;font-family:roboto_font;font-size:13px;color:#8b8b8b">F</p>
    </span>
    <span style="width:13%">
      <img src="../assets/imgs/health_pink.png" style="width:20px;height:20px;margin:auto">
      <p style="text-align:center;font-family:roboto_font;font-size:13px;color:#8b8b8b">S</p>
    </span>
    <span style="width:13%">
      <img src="../assets/imgs/health_pink.png" style="width:20px;height:20px;margin:auto">
      <p style="text-align:center;font-family:roboto_font;font-size:13px;color:#000">S</p>
    </span>
  </ion-row>
  <div style="height:1px; width:100%;background-color:#999"></div>
  <ion-row style="color:#464646;size:17px;font-family:roboto_font;padding-left:15px">
    <img src="../assets/imgs/health_activity.png" style="width:35px;height:35px;">
    <span style="display: flex;align-items: center;justify-content: center;padding-left:10px">'Activity' 2 times a day</span>
    <img src="../assets/imgs/health_popover.png" style="width:20px;height:20px;margin-left:auto;margin-top:7px;margin-right:10px"
      (click)="openPopover($event)">
  </ion-row>
  <ion-row style="margin-left:50px;margin-right:20px">
    <span style="width:13%">
      <img src="../assets/imgs/health_pink.png" style="width:20px;height:20px;margin:auto">
      <p style="text-align:center;font-family:roboto_font;font-size:13px;color:#8b8b8b">M</p>
    </span>
    <span style="width:13%">
      <img src="../assets/imgs/health_pink.png" style="width:20px;height:20px;margin:auto">
      <p style="text-align:center;font-family:roboto_font;font-size:13px;color:#8b8b8b">T</p>
    </span>
    <span style="width:13%">
      <img src="../assets/imgs/health_pink.png" style="width:20px;height:20px;margin:auto">
      <p style="text-align:center;font-family:roboto_font;font-size:13px;color:#8b8b8b">W</p>
    </span>
    <span style="width:13%">
      <img src="../assets/imgs/health_pink.png" style="width:20px;height:20px;margin:auto">
      <p style="text-align:center;font-family:roboto_font;font-size:13px;color:#8b8b8b">T</p>
    </span>
    <span style="width:13%">
      <img src="../assets/imgs/health_pink.png" style="width:20px;height:20px;margin:auto">
      <p style="text-align:center;font-family:roboto_font;font-size:13px;color:#8b8b8b">F</p>
    </span>
    <span style="width:13%">
      <img src="../assets/imgs/health_pink.png" style="width:20px;height:20px;margin:auto">
      <p style="text-align:center;font-family:roboto_font;font-size:13px;color:#8b8b8b">S</p>
    </span>
    <span style="width:13%">
      <img src="../assets/imgs/health_pink.png" style="width:20px;height:20px;margin:auto">
      <p style="text-align:center;font-family:roboto_font;font-size:13px;color:#000">S</p>
    </span>
  </ion-row>
  <div style="height:1px; width:100%;background-color:#999"></div>
  <ion-row style="color:#464646;size:17px;font-family:roboto_font;padding-left:15px">
    <img src="../assets/imgs/health_lose.png" style="width:35px;height:35px;">
    <span style="display: flex;align-items: center;justify-content: center;padding-left:10px">Lose 14 kg</span>
    <img src="../assets/imgs/health_popover.png" style="width:20px;height:20px;margin-left:auto;margin-top:7px;margin-right:10px"
      (click)="openPopover($event)">
  </ion-row>
  <ion-row style="margin-left:60px;margin-right:20px">
      <p style="text-align:center;font-family:roboto_font;font-size:13px;color:#8b8b8b">You lose 4 kg</p>
  </ion-row>  
</ion-card>