page-health {
    .header{
        background:#133749;height:20px;
    }
    .content{
        background: #0e2739;
    }
    .titles
    {
        font-family: roboto_font_medium;
        font-size: 19px;
        color: #fff;
        padding-left: 15px;
    }
}
