<ion-card class="card-round">
  <ion-row class="ex_card">
    <img src="../assets/imgs/health_walk.png" style="width:35px;height:35px;">
    <span class="ex_title">22 min walking</span>
    <span class="ex_desc">8:44 pm 8 Nov</span>
  </ion-row>
  <ion-row style="margin-left:60px;margin-right:20px">
      <p class="ex_result">+10 Points,  2.2 km</p>
  </ion-row>  
  <div class="divider"></div>
  <ion-row class="ex_card">
    <img src="../assets/imgs/health_cycle.png" style="width:35px;height:35px;">
    <span class="ex_title">22 min walking</span>
    <span class="ex_desc">8:44 pm 8 Nov</span>
  </ion-row>
  <ion-row style="margin-left:60px;margin-right:20px">
      <p class="ex_result">+10 Points,  2.2 km</p>
  </ion-row>  
  <div class="divider"></div>
  <ion-row class="ex_card">
    <img src="../assets/imgs/health_run.png" style="width:35px;height:35px;">
    <span class="ex_title">22 min walking</span>
    <span class="ex_desc">8:44 pm 8 Nov</span>
  </ion-row>
  <ion-row style="margin-left:60px;margin-right:20px">
      <p class="ex_result">+10 Points,  2.2 km</p>
  </ion-row>  
  <div class="divider"></div>
  <ion-row class="ex_card">
    <img src="../assets/imgs/health_walk.png" style="width:35px;height:35px;">
    <span class="ex_title">22 min walking</span>
    <span class="ex_desc">8:44 pm 8 Nov</span>
  </ion-row>
  <ion-row style="margin-left:60px;margin-right:20px">
      <p class="ex_result">+10 Points,  2.2 km</p>
  </ion-row>  
</ion-card>