health-yourself {
.self_title{
    color: #9494AF;
    font-family: roboto_font;
}
.selector_div{
    font-family:roboto_font;
    width:100%;max-width:100%;
    color:#F26722;font-size:17px;
    padding:0px;padding-right:10px;padding-top:10px;border-bottom: 1px solid black;
}
.input_div{
    margin: 0px;
    height: 30px;
    border-bottom: 1px solid black;
    color:#F26722;font-size:17px;
    font-family:roboto_font;
}
.self_header{
    padding-left: 15px;
    color:#464646;font-size:17px;
    font-family:roboto_font;
    line-height: 22px;

}
.self_disc{
    font-family:roboto_font;
    padding-left: 15px;
    font-size: 13px;
    color: #8b8b8b;
    line-height: 16px;
}
}
