<ion-card class="card-round">
  <ion-card class="card-header">
    <ion-row>
      <img src="../assets/imgs/health_self.png" style="width:20px;height:20px;margin-left:15px;margin-right:15px"> Esther, tell us about yourself
    </ion-row>
  </ion-card>
  <ion-row style="padding:10px">
    <ion-col col-6 class=" self_title">
      GENDER
      <ion-select class="selector_div">
        <ion-option>Male</ion-option>
        <ion-option>Female</ion-option>
      </ion-select>
    </ion-col>
    <ion-col col-6 class=" self_title">
      AGE
      <ion-input class="input_div">
      </ion-input>
    </ion-col>
    <ion-col col-6 class=" self_title">
      WEIGHT
      <ion-input class="input_div">
      </ion-input>
    </ion-col>
    <ion-col col-3 class="self_title">
      HEIGHT
      <ion-input class="input_div">
      </ion-input>
    </ion-col>
    <ion-col col-3 class=" self_title">
      <br>
      <ion-select class="selector_div">
        <ion-option>ft</ion-option>
        <ion-option>cm</ion-option>
      </ion-select>
    </ion-col>
  </ion-row>
  <div class="self_header">
    THANKS ESTHER!<br>
    YOUR BMI IS <span style="color:#F26722">23</span>
  </div>
  <div class="self_disc">
    <br>BMI Categories:<br>
    Underweight =< 18.5<br>
    Normal weight = 78.5 - 24.9 <br>
    Overweight = 25 - 29.9 <br>
    Obesity = BMI of 30 or greater
    <br><br>
  </div>
</ion-card>